.App {
 font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #333;
  padding: 20px 0;
}

.project {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #007BFF;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.button {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #007BFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  flex-direction: column;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content .button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* 添加一个媒体查询，当屏幕宽度小于或等于 600px 时，应用以下样式 */
@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
    align-items: center;
  }
  .button, .dropdown-content .button {
    /* 设置按钮的宽度为 100%，以使它们在小屏幕设备上占满整个宽度 */
    width: 100%;
    /* 设置按钮的文本对齐方式为居中，以使文本在按钮中居中 */
    text-align: center;
  }
}
